/target
/lib
/classes
/checkouts
*.jar
*.class
.DS_Store
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.#*
.nrepl-port
*#
/node_modules
/.shadow-cljs
/dev/public/js
/dev/out
/dev/scratch
yarn.lock
package-lock.json
.code.cache
*.log
*.interp
/src/hara/lang/rust
/code/c